In [44]:
import pandas as pd 
import numpy as np

In [45]:
df1 = pd.read_csv('cab_rides.csv')
df1

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,id,product_id,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.0,1.0,4bd23055-6827-41c6-b23b-3c491f24e74d,lyft_premier,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.0,1.0,981a3613-77af-4620-a42a-0c0866077d1e,lyft,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.0,1.0,c2d88af2-d278-4bfd-a8d0-29ca77cc5512,lyft_luxsuv,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.0,1.0,e0126e1f-8ca9-4f2e-82b3-50505a09db9a,lyft_plus,Lyft XL
...,...,...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.0,1.0,616d3611-1820-450a-9845-a9ff304a4842,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL
693067,1.00,Uber,1543708385534,North End,West End,9.5,1.0,633a3fc3-1f86-4b9e-9d48-2b7132112341,55c66225-fbe7-4fd5-9072-eab1ece5e23e,UberX
693068,1.00,Uber,1543708385534,North End,West End,NaN,1.0,64d451d0-639f-47a4-9b7c-6fd92fbd264f,8cf7e821-f0d3-49c6-8eba-e679c0ebcf6a,Taxi
693069,1.00,Uber,1543708385534,North End,West End,27.0,1.0,727e5f07-a96b-4ad1-a2c7-9abc3ad55b4e,6d318bcc-22a3-4af6-bddd-b409bfce1546,Black SUV
693070,1.00,Uber,1543708385534,North End,West End,10.0,1.0,e7fdc087-fe86-40a5-a3c3-3b2a8badcbda,997acbb5-e102-41e1-b155-9df7de0a73f2,UberPool

In [46]:
df2 = pd.read_csv('weather.csv')
df2

,temp,location,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.00,1012.14,0.1228,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.00,1012.15,0.1846,1545003901,0.76,11.32
2,42.50,Boston University,1.00,1012.15,0.1089,1545003901,0.76,11.07
3,42.11,Fenway,1.00,1012.13,0.0969,1545003901,0.77,11.09
4,43.13,Financial District,1.00,1012.14,0.1786,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,NaN,1543819974,0.96,1.52
6272,44.85,Northeastern University,0.88,1000.71,NaN,1543819974,0.96,1.54
6273,44.82,South Station,0.89,1000.70,NaN,1543819974,0.96,1.54
6274,44.78,Theatre District,0.89,1000.70,NaN,1543819974,0.96,1.54
6275,44.69,West End,0.89,1000.70,NaN,1543819974,0.96,1.52

In [47]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 693071 entries, 0 to 693070
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   distance          693071 non-null  float64
 1   cab_type          693071 non-null  object
 2   time_stamp        693071 non-null  int64
 3   destination       693071 non-null  object
 4   source            693071 non-null  object
 5   price             637976 non-null  float64
 6   surge_multiplier  693071 non-null  float64
 7   id                693071 non-null  object
 8   product_id        693071 non-null  object
 9   name              693071 non-null  object
dtypes: float64(3), int64(1), object(6)
memory usage: 52.9+ MB

In [48]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6276 entries, 0 to 6275
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   temp        6276 non-null   float64
 1   location    6276 non-null   object
 2   clouds      6276 non-null   float64
 3   pressure    6276 non-null   float64
 4   rain        894 non-null    float64
 5   time_stamp  6276 non-null   int64
 6   humidity    6276 non-null   float64
 7   wind        6276 non-null   float64
dtypes: float64(6), int64(1), object(1)
memory usage: 392.4+ KB

In [49]:
df1.isna().sum()

distance                0
cab_type                0
time_stamp              0
destination             0
source                  0
price               55095
surge_multiplier        0
id                      0
product_id              0
name                    0
dtype: int64

In [50]:
df2.isna().sum()

temp             0
location         0
clouds           0
pressure         0
rain          5382
time_stamp       0
humidity         0
wind             0
dtype: int64

In [51]:
# Dealing with the missing values in our dataset
mean_price = df1["price"].mean()
df1["price"].fillna(mean_price, inplace=True)

In [52]:
df1.isna().sum()

distance            0
cab_type            0
time_stamp          0
destination         0
source              0
price               0
surge_multiplier    0
id                  0
product_id          0
name                0
dtype: int64

In [53]:
mean_rain = df2["rain"].mean()
df2["rain"].fillna(mean_rain, inplace=True)

In [54]:
df2.isna().sum()

temp          0
location      0
clouds        0
pressure      0
rain          0
time_stamp    0
humidity      0
wind          0
dtype: int64

In [55]:
df1.duplicated().sum()

0

In [56]:
df2.duplicated().sum()

0

In [57]:
#dropping our df1 duplicates

# first we remove the duplicate observations
df1.drop_duplicates(inplace=True)

In [58]:
# Here we are confirming our duplicates have been removed in df1
df1.duplicated().sum()

0

In [59]:
#dropping unwanted columns in our dataset
df1.drop(['id', 'product_id'], axis = 1, inplace = True)

In [60]:
# two columns have already been dropped
df1

,distance,cab_type,time_stamp,destination,source,price,surge_multiplier,name
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.000000,1.0,Shared
1,0.44,Lyft,1543284023677,North Station,Haymarket Square,11.000000,1.0,Lux
2,0.44,Lyft,1543366822198,North Station,Haymarket Square,7.000000,1.0,Lyft
3,0.44,Lyft,1543553582749,North Station,Haymarket Square,26.000000,1.0,Lux Black XL
4,0.44,Lyft,1543463360223,North Station,Haymarket Square,9.000000,1.0,Lyft XL
...,...,...,...,...,...,...,...,...
693066,1.00,Uber,1543708385534,North End,West End,13.000000,1.0,UberXL
693067,1.00,Uber,1543708385534,North End,West End,9.500000,1.0,UberX
693068,1.00,Uber,1543708385534,North End,West End,16.545125,1.0,Taxi
693069,1.00,Uber,1543708385534,North End,West End,27.000000,1.0,Black SUV
693070,1.00,Uber,1543708385534,North End,West End,10.000000,1.0,UberPool

In [61]:
# merged_df.head()

In [62]:
df2 = df2.rename(columns = {"location":"source"})

In [63]:
df2

,temp,source,clouds,pressure,rain,time_stamp,humidity,wind
0,42.42,Back Bay,1.00,1012.14,0.122800,1545003901,0.77,11.25
1,42.43,Beacon Hill,1.00,1012.15,0.184600,1545003901,0.76,11.32
2,42.50,Boston University,1.00,1012.15,0.108900,1545003901,0.76,11.07
3,42.11,Fenway,1.00,1012.13,0.096900,1545003901,0.77,11.09
4,43.13,Financial District,1.00,1012.14,0.178600,1545003901,0.75,11.49
...,...,...,...,...,...,...,...,...
6271,44.72,North Station,0.89,1000.69,0.057652,1543819974,0.96,1.52
6272,44.85,Northeastern University,0.88,1000.71,0.057652,1543819974,0.96,1.54
6273,44.82,South Station,0.89,1000.70,0.057652,1543819974,0.96,1.54
6274,44.78,Theatre District,0.89,1000.70,0.057652,1543819974,0.96,1.54
6275,44.69,West End,0.89,1000.70,0.057652,1543819974,0.96,1.52

In [64]:
# merged_df = pd.merge(df1, df2, on='source')
# mergeddf = df1.merge(df2, on = 'source')

weather_df= df2.groupby('source').mean().reset_index(drop=False)
weather_df

,source,temp,clouds,pressure,rain,time_stamp,humidity,wind
0,Back Bay,39.082122,0.678432,1008.447820,0.057420,1.543857e+09,0.764073,6.778528
1,Beacon Hill,39.047285,0.677801,1008.448356,0.057572,1.543857e+09,0.765048,6.810325
2,Boston University,39.047744,0.679235,1008.459254,0.057233,1.543857e+09,0.763786,6.692180
3,Fenway,38.964379,0.679866,1008.453289,0.057279,1.543857e+09,0.767266,6.711721
4,Financial District,39.410822,0.676730,1008.435793,0.058169,1.543857e+09,0.754837,6.860019
5,Haymarket Square,39.067897,0.676711,1008.445239,0.057934,1.543857e+09,0.764837,6.843193
6,North End,39.090841,0.676730,1008.441912,0.057808,1.543857e+09,0.764054,6.853117
7,North Station,39.035315,0.676998,1008.442811,0.057483,1.543857e+09,0.765545,6.835755
8,Northeastern University,38.975086,0.678317,1008.444168,0.057183,1.543857e+09,0.767648,6.749426
9,South Station,39.394092,0.677495,1008.438031,0.057915,1.543857e+09,0.755468,6.848948
10,Theatre District,38.986711,0.677763,1008.444742,0.058010,1.543857e+09,0.767992,6.834302
11,West End,38.983403,0.677247,1008.441090,0.057822,1.543857e+09,0.767266,6.816233

In [65]:
# copy_df1 = df1.sample(n=7000, random_state=42)
df_limited = pd.read_csv('cab_rides.csv', nrows=1000)
# copy_df1.to_csv('copy_df1.csv', index = False)

# random_seed = 42
# df1.sample(frac=10000/600000, random_state=random_seed)

In [66]:
df_limited.shape

(1000, 10)

In [67]:
merged_df = pd.merge(df_limited, df2, on='source')

In [68]:
merged_df

,distance,cab_type,time_stamp_x,destination,source,price,surge_multiplier,id,product_id,name,temp,clouds,pressure,rain,time_stamp_y,humidity,wind
0,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,42.34,1.00,1012.15,0.206800,1545003901,0.77,11.49
1,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,43.20,0.80,990.79,0.057652,1543347920,0.71,8.31
2,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,39.18,0.83,996.07,0.057652,1543449727,0.66,10.73
3,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,27.34,0.15,1033.40,0.057652,1544787901,0.81,3.04
4,0.44,Lyft,1544952607890,North Station,Haymarket Square,5.0,1.0,424553bb-7174-41ea-aeb4-fe06d4f4b9d7,lyft_line,Shared,45.42,1.00,1012.47,0.057652,1543253710,0.86,6.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
522995,2.61,Uber,1544688606839,Beacon Hill,Northeastern University,15.0,1.0,dfbdc811-ed23-491a-95d8-befaf6452fd3,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,29.83,0.04,1016.53,0.057652,1543578774,0.84,3.18
522996,2.61,Uber,1544688606839,Beacon Hill,Northeastern University,15.0,1.0,dfbdc811-ed23-491a-95d8-befaf6452fd3,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,32.67,0.88,1020.17,0.057652,1543657974,0.79,4.18
522997,2.61,Uber,1544688606839,Beacon Hill,Northeastern University,15.0,1.0,dfbdc811-ed23-491a-95d8-befaf6452fd3,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,35.78,0.91,1003.50,0.057652,1545054302,0.89,7.28
522998,2.61,Uber,1544688606839,Beacon Hill,Northeastern University,15.0,1.0,dfbdc811-ed23-491a-95d8-befaf6452fd3,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,39.41,1.00,1018.06,0.033100,1543751574,0.92,5.37
522999,2.61,Uber,1544688606839,Beacon Hill,Northeastern University,15.0,1.0,dfbdc811-ed23-491a-95d8-befaf6452fd3,6f72dfc5-27f1-42e8-84db-ccc7a75f6969,UberXL,44.85,0.88,1000.71,0.057652,1543819974,0.96,1.54

In [69]:
merged_df.duplicated().sum()

0

In [70]:
merged_df.drop(['id', 'product_id', 'time_stamp_x', 'time_stamp_y'], axis = 1, inplace = True)

In [73]:
merged_df

,distance,cab_type,destination,source,price,surge_multiplier,name,temp,clouds,pressure,rain,humidity,wind
0,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,42.34,1.00,1012.15,0.206800,0.77,11.49
1,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,43.20,0.80,990.79,0.057652,0.71,8.31
2,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,39.18,0.83,996.07,0.057652,0.66,10.73
3,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,27.34,0.15,1033.40,0.057652,0.81,3.04
4,0.44,Lyft,North Station,Haymarket Square,5.0,1.0,Shared,45.42,1.00,1012.47,0.057652,0.86,6.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...
522995,2.61,Uber,Beacon Hill,Northeastern University,15.0,1.0,UberXL,29.83,0.04,1016.53,0.057652,0.84,3.18
522996,2.61,Uber,Beacon Hill,Northeastern University,15.0,1.0,UberXL,32.67,0.88,1020.17,0.057652,0.79,4.18
522997,2.61,Uber,Beacon Hill,Northeastern University,15.0,1.0,UberXL,35.78,0.91,1003.50,0.057652,0.89,7.28
522998,2.61,Uber,Beacon Hill,Northeastern University,15.0,1.0,UberXL,39.41,1.00,1018.06,0.033100,0.92,5.37
522999,2.61,Uber,Beacon Hill,Northeastern University,15.0,1.0,UberXL,44.85,0.88,1000.71,0.057652,0.96,1.54

In [75]:
dummy_df = merged_df.sample(n=10000, random_state=42)
dummy_df

,distance,cab_type,destination,source,price,surge_multiplier,name,temp,clouds,pressure,rain,humidity,wind
443411,2.80,Uber,Boston University,West End,11.0,1.0,UberX,19.88,0.42,1031.07,0.057652,0.64,3.83
363713,2.58,Uber,Beacon Hill,South Station,9.5,1.0,WAV,28.86,0.27,1021.49,0.057652,0.60,5.18
262658,3.23,Uber,Beacon Hill,Boston University,13.0,1.0,UberX,34.90,0.15,991.56,0.057652,0.79,6.31
456802,2.14,Uber,South Station,West End,15.5,1.0,UberXL,28.75,0.27,1021.49,0.057652,0.60,5.17
490813,3.41,Lyft,Northeastern University,Financial District,19.5,1.0,Lyft XL,22.68,0.19,1033.73,0.057652,0.57,2.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
192315,2.15,Lyft,South Station,North Station,16.5,1.0,Lux,40.64,0.82,999.95,0.057652,0.77,8.90
366118,0.54,Uber,Financial District,South Station,7.0,1.0,UberX,41.35,0.65,1023.18,0.057652,0.62,1.79
136798,1.50,Lyft,Theatre District,North End,16.5,1.0,Lux,46.93,0.05,1002.16,0.057652,0.56,8.75
256291,3.14,Lyft,West End,Boston University,16.5,1.0,Lyft XL,41.35,0.27,1032.06,0.057652,0.66,4.24
136864,1.50,Lyft,Theatre District,North End,16.5,1.0,Lux,39.64,0.44,1023.97,0.057652,0.71,7.30